.footer_content {
    background-color: #dedcdcbe;
    margin-top: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_content .footer_title {
    font-family: "MartianMono-Medium";
    font-size: 20px;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-top: 30px;
}

.footer_content .footer_description {
    font-family: "MartianMono-Light";
    margin-bottom: 40px;
    font-size: 9px;
}

@media screen and (min-width: 768px) {
    .footer_content .footer_title {
        font-size: 30px;
    }

    .footer_content .footer_description {
        font-size: 12px;
    }
}